.link-succes{
    height: 20px;
    font-family: Montserrat;
    font-weight: 700;
    transition: 0.3s;
}
.container-fluid{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}